<h1>Learning Flow Control</h1>


<button (click)="hide()">Hide Div</button>
<button (click)="show()">show Div</button>
<button (click)="toggle()">Toggle Div</button>
<br>
@if(display){
<div  style="width: 200px; height: 200px; background-color: green;"></div> }

<br>
<br>
<hr>
<button (click)="toggleTwo()">{{toggleDiv?'show red div': 'show gold div'}}</button>

@if(toggleDiv){

<div  style="width: 200px; height: 200px; background-color: rgb(181, 210, 16);"></div> 
}
@else{

  <div  style="width: 200px; height: 200px; background-color: rgb(210, 16, 207);"></div> 
}
